body{
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

.textarea {
    text-align: center;
    width: 500px;
    height: 200px;    
    padding: 10px;
    margin: 20px 0;
}

button {
    width: 130px;
    margin: 0 0 0 20px;
}